.container{
    height: calc(100vh - 100px);
    background-color:#d1411e;
    object-fit: contain;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.arrowContainer{
    position: absolute;
    width: 5%;
    height: 10%;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    z-index: 2;
}
.wrapper{
    width: 300vw;
    height: 100%;
    display: flex;
    transition: all 1.1s ease-in-out;
}
.imageContainer{
    width: 100vw;
    position: relative;
    height: 100%;

}

@media screen and (max-width: 480px) {
   .container{
    margin-top: 70px; 
    height: 50vh;
   }
}